<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2006-2009, Cloudsmith Inc.
 
 This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/
 
 SPDX-License-Identifier: EPL-2.0
-->

<plugin>

   <extension-point id="legacy_transformation_ui" name="Legady Tansformation UI" schema="schema/legacy_transformation_ui.exsd"/>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Aggregator not -->
      <category
            id="org.eclipse.cbi"
            name="%_UI_CBIWizard_category"/>
      <wizard
            id="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorModelWizardID"
            name="%_UI_AggregatorModelWizard_label"
            class="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorModelWizard"
            category="org.eclipse.cbi"
            icon="icons/full/obj16/AggregatorModelFile.gif">
         <description>%_UI_AggregatorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Aggregator -->
      <editor
            id="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID"
            name="%_UI_AggregatorEditor_label"
            icon="icons/full/obj16/AggregatorModelFile.gif"
            class="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditor"
            contributorClass="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorActionBarContributor">
         <contentTypeBinding contentTypeId="org.eclipse.cbi.p2repo.aggregator"/>
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- aggrcon -->
      <editor
            id="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID"
            name="%_UI_AggregatorEditor_label"
            icon="platform:/plugin/org.eclipse.cbi.p2repo.aggregator.edit/icons/full/obj16/Contribution.gif"
            class="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditor"
            contributorClass="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorActionBarContributor">
         <contentTypeBinding contentTypeId="org.eclipse.cbi.p2repo.aggregator.con"/>
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Aggregator NOT -->
      <!--
      <editor
            id="org.eclipse.cbi.p2repo.aggregator.p2view.presentation.P2viewEditorID"
            name="%_UI_P2viewEditor_label"
            icon="icons/full/obj16/P2viewModelFile.gif"
            extensions="p2view"
            class="org.eclipse.cbi.p2repo.aggregator.p2view.presentation.P2viewEditor"
            contributorClass="org.eclipse.cbi.p2repo.aggregator.p2view.presentation.P2viewActionBarContributor">
      </editor>
      -->
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.cbi.p2repo.aggregator.presentation.OpenFindIUDialogAction"
            commandId="org.eclipse.ui.edit.findReplace">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.cbi.p2repo.aggregator.presentation.FindPreviousIUAction"
            commandId="org.eclipse.ui.edit.findPrevious">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.cbi.p2repo.aggregator.presentation.FindNextIUAction"
            commandId="org.eclipse.ui.edit.findNext">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>

   <extension
	     point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      <key
         commandId="org.eclipse.ui.edit.findNext"
         contextId="org.eclipse.cbi.p2repo.aggregator.presentation.aggregatorEditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+K"/>
      <key
         commandId="org.eclipse.ui.edit.findPrevious"
         contextId="org.eclipse.cbi.p2repo.aggregator.presentation.aggregatorEditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+M2+K"/>
   </extension>

   <extension
       point="org.eclipse.ui.contexts">
    <context
          description="Aggregator Editor is open"
          id="org.eclipse.cbi.p2repo.aggregator.presentation.aggregatorEditorScope"
          name="In Aggregator Editor"
          parentId="org.eclipse.ui.contexts.window">
    </context>
   </extension>

    <extension
         id="diagnostic"
         name="%_UI_AggregatorDiagnostic_marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="diagnostic.persistent"
         name="%_UI_AggregatorDiagnostic_marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.emf.ecore.diagnostic"/>
      <persistent value="true"/>
   </extension>

    <extension
         id="diagnostic.nonpersistent"
         name="%_UI_AggregatorDiagnostic_marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.emf.ecore.diagnostic"/>
      <persistent value="false"/>
    </extension>

    <extension
          point="org.eclipse.ui.ide.markerResolution">
         <markerResolutionGenerator
         	markerType="org.eclipse.cbi.p2repo.aggregator.editor.diagnostic.nonpersistent"
         	class="org.eclipse.cbi.p2repo.aggregator.presentation.DiagnosticMarkerResolutionGenerator">
         </markerResolutionGenerator>
    </extension>

    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="org.eclipse.cbi.p2repo.aggregator.presentation.FixVersionHandler"
             id="org.eclipse.cbi.p2repo.aggregator.editor.fixVersion"
             name="%fixVersion.command">
       </command>
       <command
             defaultHandler="org.eclipse.cbi.p2repo.aggregator.presentation.DeleteUnusedContactsHandler"
             id="org.eclipse.cbi.p2repo.aggregator.editor.deleteUnusedContacts"
             name="%deleteUnusedContacts.command">
       </command>
    </extension>

    <extension
          point="org.eclipse.ui.commandImages">
       <image
             commandId="org.eclipse.cbi.p2repo.aggregator.editor.fixVersion"
             icon="icons/full/obj16/fixVersions.png">
       </image>
       <image
             commandId="org.eclipse.cbi.p2repo.aggregator.editor.deleteUnusedContacts"
             icon="icons/full/obj16/DeleteContact.gif">
       </image>
    </extension>

    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID?before=additions">
          <command
                commandId="org.eclipse.cbi.p2repo.aggregator.editor.fixVersion"
                style="push">
          </command>
          <command
                commandId="org.eclipse.cbi.p2repo.aggregator.editor.deleteUnusedContacts"
                style="push">
          </command>
       </menuContribution>
    </extension>

</plugin>
