<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2021 Eclipse Foundation and others.
 
 This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/
 
 SPDX-License-Identifier: EPL-2.0
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AggregationAnalyzer -->
      <package
            uri="https://www.eclipse.org/cbi/p2repo/2021/aggregator/analyzer"
            class="org.eclipse.cbi.p2repo.aggregator.analyzer.AnalyzerPackage"
            genModel="model/AggregationAnalyzer.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated AggregationAnalyzer -->
      <parser
            contentTypeIdentifier="org.eclipse.cbi.p2repo.aggregator.analyzer"
            class="org.eclipse.cbi.p2repo.aggregator.analyzer.util.AnalyzerResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated AggregationAnalyzer -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="aggran"
            id="org.eclipse.cbi.p2repo.aggregator.analyzer"
            name="%_UI_Analyzer_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="https://www.eclipse.org/cbi/p2repo/2021/aggregator/analyzer"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

</plugin>
