<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.cbi.p2repo.cli.headless"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/CBI Aggregator"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="bundle.test.junit5"/>
        <setEntry value="org.eclipse.cbi.p2repo.aggregator.edit"/>
        <setEntry value="org.eclipse.cbi.p2repo.aggregator.editor"/>
        <setEntry value="org.eclipse.cbi.p2repo.aggregator.legacy"/>
        <setEntry value="org.eclipse.cbi.p2repo.aggregator.legacy.ui"/>
        <setEntry value="org.eclipse.cbi.p2repo.analyzers.common"/>
        <setEntry value="org.eclipse.cbi.p2repo.p2.edit"/>
        <setEntry value="org.eclipse.cbi.tycho"/>
        <setEntry value="org.eclipse.core.filebuffers"/>
        <setEntry value="org.eclipse.debug.ui"/>
        <setEntry value="org.eclipse.e4.tools"/>
        <setEntry value="org.eclipse.e4.tools.emf.ui"/>
        <setEntry value="org.eclipse.jface.text.examples"/>
        <setEntry value="org.eclipse.lemminx"/>
        <setEntry value="org.eclipse.lsp4e"/>
        <setEntry value="org.eclipse.lsp4e.debug"/>
        <setEntry value="org.eclipse.lsp4e.test"/>
        <setEntry value="org.eclipse.lsp4e.tests.mock"/>
        <setEntry value="org.eclipse.m2e.archetype.common"/>
        <setEntry value="org.eclipse.m2e.binaryproject"/>
        <setEntry value="org.eclipse.m2e.binaryproject.tests"/>
        <setEntry value="org.eclipse.m2e.binaryproject.ui"/>
        <setEntry value="org.eclipse.m2e.core"/>
        <setEntry value="org.eclipse.m2e.core.tests"/>
        <setEntry value="org.eclipse.m2e.core.ui"/>
        <setEntry value="org.eclipse.m2e.core.ui.tests"/>
        <setEntry value="org.eclipse.m2e.discovery"/>
        <setEntry value="org.eclipse.m2e.editor"/>
        <setEntry value="org.eclipse.m2e.editor.lemminx"/>
        <setEntry value="org.eclipse.m2e.editor.lemminx.tests"/>
        <setEntry value="org.eclipse.m2e.editor.tests"/>
        <setEntry value="org.eclipse.m2e.jdt"/>
        <setEntry value="org.eclipse.m2e.jdt.tests"/>
        <setEntry value="org.eclipse.m2e.jdt.ui"/>
        <setEntry value="org.eclipse.m2e.launching"/>
        <setEntry value="org.eclipse.m2e.lifecyclemapping.defaults"/>
        <setEntry value="org.eclipse.m2e.logback.appender"/>
        <setEntry value="org.eclipse.m2e.mavenarchiver"/>
        <setEntry value="org.eclipse.m2e.model.edit"/>
        <setEntry value="org.eclipse.m2e.profiles.core"/>
        <setEntry value="org.eclipse.m2e.refactoring"/>
        <setEntry value="org.eclipse.m2e.scm"/>
        <setEntry value="org.eclipse.m2e.sourcelookup"/>
        <setEntry value="org.eclipse.m2e.sourcelookup.ui"/>
        <setEntry value="org.eclipse.m2e.tests"/>
        <setEntry value="org.eclipse.m2e.tests.common"/>
        <setEntry value="org.eclipse.m2e.wtp"/>
        <setEntry value="org.eclipse.m2e.wtp.jaxrs"/>
        <setEntry value="org.eclipse.m2e.wtp.jpa"/>
        <setEntry value="org.eclipse.m2e.wtp.jsf"/>
        <setEntry value="org.eclipse.m2e.wtp.overlay"/>
        <setEntry value="org.eclipse.platform"/>
        <setEntry value="org.eclipse.releng.tests"/>
        <setEntry value="org.eclipse.shellwax.core"/>
        <setEntry value="org.eclipse.swt.examples"/>
        <setEntry value="org.eclipse.swt.gtk.linux.x86_64"/>
        <setEntry value="org.eclipse.swt.snippets"/>
        <setEntry value="org.eclipse.swt.tests"/>
        <setEntry value="org.eclipse.test.performance"/>
        <setEntry value="org.eclipse.tm4e.language_pack"/>
        <setEntry value="org.eclipse.tycho.core"/>
        <setEntry value="org.eclipse.tycho.surefire.osgibooter"/>
        <setEntry value="org.eclipse.ui.console"/>
        <setEntry value="org.eclipse.ui.navigator"/>
        <setEntry value="org.eclipse.ui.tests.harness"/>
        <setEntry value="org.eclipse.ui.themes"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor"/>
        <setEntry value="org.eclipse.wildwebdeveloper"/>
        <setEntry value="org.eclipse.wildwebdeveloper.embedder.node"/>
        <setEntry value="org.eclipse.wildwebdeveloper.tests"/>
        <setEntry value="org.eclipse.wildwebdeveloper.xml"/>
        <setEntry value="test"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-EclipseApplication"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="aggregate --buildModel /home/mistria/git/eclipse.platform.releng/publish-to-maven-central/SDK4Mvn.aggr --action CLEAN_BUILD --buildRoot buildRoot/"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <booleanAttribute key="pde.generated.config" value="false"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.platform.ide"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.jcraft.jsch@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="jakarta.servlet-api@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.felix.gogo.command"/>
        <setEntry value="org.apache.felix.gogo.runtime"/>
        <setEntry value="org.apache.felix.gogo.shell"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.httpcomponents.httpclient@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpcore@default:default"/>
        <setEntry value="org.apache.xalan@default:default"/>
        <setEntry value="org.apache.xerces@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apiguardian@default:default"/>
        <setEntry value="org.bouncycastle.bcpg@default:default"/>
        <setEntry value="org.bouncycastle.bcprov@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net.linux@default:false"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.identity@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl@default:false"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.ssl@default:false"/>
        <setEntry value="org.eclipse.ecf@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.concurrent@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.console@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.operations@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.updatesite@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.linux@default:false"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator@1:true"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi@1:true"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.junit.platform.commons@default:default"/>
        <setEntry value="org.junit.platform.engine@default:default"/>
        <setEntry value="org.junit.platform.launcher@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.kohsuke.args4j@default:default"/>
        <setEntry value="org.opentest4j@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.device@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.service.provisioning@default:default"/>
        <setEntry value="org.osgi.service.upnp@default:default"/>
        <setEntry value="org.osgi.service.useradmin@default:default"/>
        <setEntry value="org.osgi.service.wireadmin@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="org.sat4j.core@default:default"/>
        <setEntry value="org.sat4j.pb@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.eclipse.cbi.p2repo.aggregator.engine.maven@default:default"/>
        <setEntry value="org.eclipse.cbi.p2repo.aggregator.engine@default:default"/>
        <setEntry value="org.eclipse.cbi.p2repo.aggregator@default:default"/>
        <setEntry value="org.eclipse.cbi.p2repo.cli@default:default"/>
        <setEntry value="org.eclipse.cbi.p2repo.p2.maven@default:default"/>
        <setEntry value="org.eclipse.cbi.p2repo.p2@default:default"/>
        <setEntry value="org.eclipse.cbi.p2repo.util@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.m2e.maven.runtime.slf4j.simple@default:default"/>
        <setEntry value="org.eclipse.m2e.maven.runtime@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="timestamp" value="1522258272739"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="false"/>
    <booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
