<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2006-2009, Cloudsmith Inc.
 
 This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/
 
 SPDX-License-Identifier: EPL-2.0
-->

<plugin>
   <extension-point id="legacy_transformation" name="Legacy Transformation" schema="schema/legacy_transformation.exsd"/>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Aggregator -->
      <package
            uri="http://www.eclipse.org/cbi/p2repo/2011/aggregator/1.1.0"
            class="org.eclipse.cbi.p2repo.aggregator.AggregatorPackage"
            genModel="model/Aggregator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Aggregator -->
      <parser
            type="aggr"
            class="org.eclipse.cbi.p2repo.aggregator.util.AggregatorResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Aggregator -->
      <package
            uri="http://www.eclipse.org/cbi/p2repo/2010/aggregator/p2view/1.0.0"
            class="org.eclipse.cbi.p2repo.aggregator.p2view.P2viewPackage"
            genModel="model/Aggregator.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.cbi.p2repo.aggregator.p2.util.MetadataRepositoryResourceFactoryImpl"
            protocolName="cbiaggr">
      </parser>
   </extension>
</plugin>
